body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  width: 260px;
  text-align: center;
}

.box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.box a {
  display: block;
  background: #38bdf8;
  color: black;
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding: 15px;
  background: #020617;
  text-align: center;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
}

.me {
  background: #38bdf8;
  color: black;
  align-self: flex-end;
}

.friend {
  background: #334155;
}

form {
  display: flex;
  padding: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 15px;
}
